.container {
  height: min(70vh, 650px);
  max-width: 40rem;
  margin: 0 auto 7rem;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: var(--background_color_2);
  border-radius: 20px;
}

.header {
  text-align: center;
}

.date {
  display: block;
  font-size: 0.8em;
  line-height: 3;
  color: var(--accent_color);
}

.list {
  padding: 0;
  list-style-type: disc;
}

.list li {
  margin-bottom: 2rem;
  cursor: pointer;
}

.list li:hover {
  opacity: 0.8;
}
