.container {
  width: 100%;
  background: #eee;
}

.content {
  width: 60%;
  height: 8rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

.copyright {
  width: 50%;
}

.nav {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.nav > a {
  font-size: 0.9rem;
  margin: 0.3rem 0;
  text-decoration: underline;
}
