.container {
  position: relative;
  height: 15rem;
  min-width: 12rem;
  border: none;
  margin: 0.8rem;
  padding: 0;
  color: #333;
  background: none;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  flex-grow: 1;
}

.container:hover {
  transform: scale(1.05);
  border: none;
}

.name__container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#faf3, #668a, #fff5, #fffe, #ffff);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1rem 1.5rem;
}

.name {
  margin: 0rem 0;
  font-size: 0.8rem;
}

.role {
  margin: 0;
  font-size: 0.7rem;
  color: #aaa;
}

.image {
  position: absolute;
  width: max(15rem, 100%);
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image:hover {
  border: none;
}
