.link {
  color: var(--accent_color_2);
  transition: 200ms;
  display: block;
}

.link:hover,
.link:focus {
  opacity: 0.8;
}

.icon__back {
  position: relative;
  top: 0.3rem;
  font-size: 1.15rem;
  margin-right: 0.5rem;
}

.image {
  display: block;
  margin: 2rem auto 3rem;
  width: min(300px, 70vw);
  border-radius: 50%;
  height: auto;
}

.name {
  margin-bottom: 0.3rem;
  text-align: center;
}

.role {
  font-family: "SportingGrotesque";
  font-size: 0.8rem;
  color: #999;
  text-align: center;
}

.bio {
  margin: 2rem 0 3rem;
}

.main__container {
  min-height: 76vh;
  max-width: 30rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.links__header {
  color: var(--accent_color);
  text-align: center;
  margin: 2rem 0 0.5rem;
}

.links__container {
  list-style: none;
  padding: 0;
  margin: 1rem 0 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.links__item {
  transition: 100ms;
  cursor: pointer;
  padding: 1rem 1rem;
}

.links__item:hover,
.links__item:focus {
  opacity: 0.8;
  transform: scale(1.1);
}

.links__item svg {
  font-size: 2rem;
}
