.container {
  min-height: min(90vh, 50rem);
  max-width: 50rem;
  margin: 0 auto;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link {
  color: var(--accent_color);
  transition: 200ms;
}

.link:hover,
.link:focus {
  opacity: 0.8;
}
