.container {
  min-height: 90vh;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.link {
  color: var(--accent_color);
}

/* 
.title {
}

.text__container p {
}

 */
