.container {
  min-height: min(90vh, 55rem);
  max-width: 50rem;
  margin: 0 auto;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.link {
  color: var(--accent_color);
}

.title {
  padding: 5% 0;
}

/* 
.text__container p {
} */
