.videoContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 55%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container__main {
  padding-top: 1em;
}

.pageHeight {
  min-height: 80vh;
}

.link {
  color: var(--accent_color_2);
  transition: 200ms;
  display: block;
  padding: 2em 10vw 0;
}

.link:hover,
.link:focus {
  opacity: 0.8;
}

.icon__back {
  position: relative;
  top: 0.3rem;
  font-size: 1.15rem;
  margin-right: 0.5rem;
}

.title {
  margin-bottom: 0.3rem;
}
.date {
  color: #999;
  font-size: 0.8em;
  margin-left: 0.7em;
}

.genre {
  font-family: "SportingGrotesque";
  font-size: 0.8rem;
}

.description {
  margin: 2rem 0 5rem;
}

.links__header {
  color: var(--accent_color);
  text-align: center;
  margin: 2rem 0 0.5rem;
}

.links__container {
  list-style: none;
  padding: 0;
  margin: 1rem 0 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.links__item {
  padding: 1rem 1rem;
}

.links__item a {
  display: block;
  cursor: pointer;
  transition: 100ms;
}

.links__item a:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.links__item svg {
  font-size: 2rem;
}
