.container {
  position: relative;
  min-width: 16rem;
  height: 9rem;
  border: none;
  margin: 1rem;
  padding: 0;
  color: #fff;
  background: none;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  flex-grow: 1;
  transition: 100ms ease-in;
}

.container:hover,
.container:focus {
  transform: scale(1.03);
  transition: 100ms;
}

.title__container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#05f5, #03da, #20bc, #010101, #050505);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1rem 1.5rem;
  box-shadow: inset 0 0 1px 2px #aaa1;
  border-radius: 8px;
}

.title {
  margin: 0rem 0;
  font-size: 1rem;
}

.genre {
  margin: 0;
  font-size: 0.7rem;
  color: #aaa;
}

.thumbnail {
  position: absolute;
  top: 0%;
  width: max(16rem, 100%);
  min-height: 100%;
  transform: translateY(-10%);
}
